.Sidebar {
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: #fff;
  padding: 2rem;
  width: 250px;
  z-index: 9;
  left: -100%;
  transition: 0.3s ease all;
}

.Sidebar a img {
  width: 70%;
}
.Sidebar nav {
  margin-top: 1rem;
}
.Sidebar nav > * + * {
  margin-top: 1rem;
}
.Sidebar nav a {
  font-weight: 500;
  font-size: 17px;
  color: #000;
}
.sidebarregister,
.sidebarlogin {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .Sidebar.active {
    left: 0;
  }
}
